# Numpy

Numerical Python
- Used for numerical computations
- Iterable
- Mutable
- Homogenous - All elements have to be of the same data type

##### Why numpy arrays over lists and tuples?
- Consumes less memory
- Vectorization - the absence of any explicit looping
- Faster
- Convenient for a lot of tasks

In [2]:
import numpy as np # np - alias

In [6]:
# Creating a 1D array from a list
num_list = [1, 2, 3, 4, 5]
print(num_list, "is of type", type(num_list))

list_to_array = np.array(num_list)
print(list_to_array, "is of type", type(list_to_array))

[1, 2, 3, 4, 5] is of type <class 'list'>
[1 2 3 4 5] is of type <class 'numpy.ndarray'>

In [8]:
# Creating a 1D array from a tuple
num_tuple = (1, 2, 3, 4, 5)
print(num_tuple, "is of type", type(num_tuple))

tuple_to_array = np.array(num_tuple)
print(tuple_to_array, "is of type", type(tuple_to_array))

(1, 2, 3, 4, 5) is of type <class 'tuple'>
[1 2 3 4 5] is of type <class 'numpy.ndarray'>

In [11]:
# Homogenous values
# Float values have a higher order than integers

num_list = [1, 2, 3, 4, 5.5, 6.5]
print("List: ", num_list)

list_to_array = np.array(num_list)
print("Numpy array: ", list_to_array)

List:  [1, 2, 3, 4, 5.5, 6.5]
Numpy array:  [1.  2.  3.  4.  5.5 6.5]

In [14]:
# String values have a higher order than integers

list_var = [1, 2, 3, 4, 5, 'Joshua']
print("List: ", list_var)

list_to_array = np.array(list_var)
print("Numpy array: ", list_to_array)

List:  [1, 2, 3, 4, 5, 'Joshua']
Numpy array:  ['1' '2' '3' '4' '5' 'Joshua']

# Dimensions in arrays

In [29]:
#2D array - Multiple 1D arrays
array_2D = np.array([[1, 2, 5.5], [3, 4, 5]])
print("2D array: ", array_2D, sep ="\n")

2D array:
[[1.  2.  5.5]
 [3.  4.  5. ]]

In [30]:
# 3D array = multiple 2D arrays

array_3D = np.array([[[1, 2, 5.5], [3, 4, 5]], [[1, 2, 5.5], [3, 4, 5]]] )
print("3D array: ", array_3D, sep = "\n")

3D array:
[[[1.  2.  5.5]
  [3.  4.  5. ]]

 [[1.  2.  5.5]
  [3.  4.  5. ]]]

##### How is NumPy better?

In [38]:
# Add each list index element of list_1 to the corresponding index element of list_2 and create a new list with the values

list_1 = [1, 2, 3, 4, 5, 6]
list_2 = [1, 2, 3, 4, 5]
sum_list = []

min_length = min(len(list_1), len(list_2))
#print(min_length)

for i in range(0, min_length):
    sum_list.append(list_1[i] + list_2[i])
print(sum_list)

[2, 4, 6, 8, 10]

In [39]:
# Optimal method using lambda

list_1 = [1, 2, 3, 4, 5, 6]
list_2 = [1, 2, 3, 4, 5]
sum_list = []

sum_list.append(list(map(lambda x, y : x+y, list_1, list_2 )))
print(sum_list)

[[2, 4, 6, 8, 10]]

In [40]:
# Best solution
# Using numpy to solve the problem => Vectorized code

array_1 = np.array([1, 2, 3, 4, 5])
array_2 = np.array([1, 2, 3, 4, 5])

sum_array = array_1 + array_2 
print(sum_array)

[ 2  4  6  8 10]

In [49]:
# Condition to check - if values in the array >=3

array_1_bool = array_1 >= 3
print("Are values of array_1 >= 3? ", array_1_bool, sep= "\t")
print("Values of array_1 >=3: ", array_1[array_1_bool], sep= "\t")

#Optimal way:
print("Values of array_1 >=3:", array_1[array_1>=3], sep= "\t")

Are values of array_1 >= 3? 	[False False  True  True  True]
Values of array_1 >=3: 	[3 4 5]
Values of array_1 >=3:	[3 4 5]

In [58]:
# Matrix subtraction using np

array_1 = np.array([[1, 2, 3], [4, 5, 6]])
array_2 = np.array([[11, 12, 13], [14, 15, 16]])

print("Array_1: ", array_1, sep = "\n", end = "\n\n")
print("Array_2: ", array_2, sep = "\n", end = "\n\n")

print("Subtraction: ", array_2-array_1, sep= "\n")

Array_1:
[[1 2 3]
 [4 5 6]]

Array_2:
[[11 12 13]
 [14 15 16]]

Subtraction:
[[10 10 10]
 [10 10 10]]

# Functions

In [64]:
#Arange function

# Without using arange function
arange_array = np.array(list(range(1, 15, 1)))
print(arange_array)

# Using arange - increment factor
arange_array = np.arange(1, 15, 1)
print(arange_array)

# Using arange - decrement factor
arange_array = np.arange(15, 1, -1)
print(arange_array)

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14]
[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14]
[15 14 13 12 11 10  9  8  7  6  5  4  3  2]

In [69]:
# Zeros function
# Printing an array with zeros only

# 1 Dimensional
zero_1D = np.zeros(5) # Five zeros
print(zero_1D, end = "\n\n")

# 2 Dimensional
zero_2D = np.zeros((5, 5), dtype = int)
print(zero_2D)

[0. 0. 0. 0. 0.]

[[0 0 0 0 0]
 [0 0 0 0 0]
 [0 0 0 0 0]
 [0 0 0 0 0]
 [0 0 0 0 0]]

In [71]:
# Ones function
# Printing an array with zeros only

# 1 Dimensional
ones_1D = np.ones(5) # five ones
print(ones_1D, end = "\n\n")

# 2 Dimensional
ones_2D = np.ones((5, 5), dtype = int)
print(ones_2D)

[1. 1. 1. 1. 1.]

[[1 1 1 1 1]
 [1 1 1 1 1]
 [1 1 1 1 1]
 [1 1 1 1 1]
 [1 1 1 1 1]]

In [78]:
# Full function
# For filling values other than 0 and 1

fives_1D = np.full(shape = 5, fill_value = 5)
print(fives_1D, end = "\n\n")

threes_2D = np.full(shape = (5, 5), fill_value = 3)
print(threes_2D)

[5 5 5 5 5]

[[3 3 3 3 3]
 [3 3 3 3 3]
 [3 3 3 3 3]
 [3 3 3 3 3]
 [3 3 3 3 3]]

In [83]:
# Random function
# Used to generate decimal values between 0 and 1

random_values = np.random.random((3, 4))
print(random_values)

[[0.06588969 0.517756   0.05922128 0.73094058]
 [0.91637643 0.85240801 0.11984151 0.0938842 ]
 [0.48947183 0.09221736 0.71217778 0.26020836]]

In [108]:
#Seed significance and randint function

np.random.seed(210)# Seed makes the random values constant even when the code is run multiple times
print(np.random.randint(high = 15, low= 1, size = 7))
#2D
print(np.random.randint(high = 15, low = 1, size =(3, 3), dtype= int))

[11  8 13  6  7  5  8]
[[ 7  2  8]
 [ 5  7  4]
 [ 5 12 10]]

In [117]:
# Eye function
# To generate an Identity matrix

print(np.eye(3, dtype = int))

# Specifying rows and columns 
print(np.eye(M = 3, N=3, dtype= int))

[[1 0 0]
 [0 1 0]
 [0 0 1]]
[[1 0 0]
 [0 1 0]
 [0 0 1]]

In [122]:
# Linspace function
# We use linspace when we know the size, range but not the stepsize(the incremental value)

print(np.linspace(1, 40, 9, dtype = int)) # 1 - lowest value,  40 - highest value, 5 - size

[ 1  5 10 15 20 25 30 35 40]

In [127]:
# shape function
# Returns the shape of the array

print(np.shape((1, 40, 9)))

(3,)

In [133]:
# Reshape function
# Make the linspace array to 2D

print(np.linspace(1, 40, 9,dtype = int).reshape(3, 3)) # Now the arguments in the reshape function when multiplied must give the size of the array (9)

[[ 1  5 10]
 [15 20 25]
 [30 35 40]]

In [138]:
# Tile function
# Repeat a sequence to create a new array of numbers

#1D
print(np.tile([1, 2, 3],3)) # Repeat 1, 2, 3 three times

#2D
print(np.tile([1,2,3], (3, 2))) # Repeat 1, 2, 3 in 3 rows 2 times

[1 2 3 1 2 3 1 2 3]
[[1 2 3 1 2 3]
 [1 2 3 1 2 3]
 [1 2 3 1 2 3]]

Generate 2 arrays as shown below and add then together to generate a new array.
[[1 2 3           [[2  4  6
  1 2 3     +       8  10 12      
  1 2 3]]           14 16 18]]

In [156]:
array_1 = np.tile([1, 2, 3], (3, 1))
print("Array 1: ", array_1, sep ="\n", end = "\n\n")

array_2 = np.arange(2, 19,2).reshape(3, 3)
print("Array 2: ", array_2, sep ="\n")

print("Sum: ", array_1+array_2)

Array 1:
[[1 2 3]
 [1 2 3]
 [1 2 3]]

Array 2:
[[ 2  4  6]
 [ 8 10 12]
 [14 16 18]]
Sum:  [[ 3  6  9]
 [ 9 12 15]
 [15 18 21]]

Generate 2 arrays as shown below and multiply them together to generate a new array
[[1 2 3           [[1  1  1
  1 2 3     x       1  1  1      
  1 2 3]]           1  1  1]]

In [176]:
array_1 = np.tile([1, 2, 3], (3,1))
print("Array 1:" ,array_1, sep = "\n", end = "\n\n")

array_2 = np.ones((3,3), dtype = int)
print("Array 2:", array_2, sep= "\n" , end = "\n\n")

print("Sum: " ,array_1*array_2, sep= "\n")

Array 1:
[[1 2 3]
 [1 2 3]
 [1 2 3]]

Array 2:
[[1 1 1]
 [1 1 1]
 [1 1 1]]

Sum:
[[1 2 3]
 [1 2 3]
 [1 2 3]]

# Structure

In [190]:
num_array = np.tile([1,2,3], (3,1))
print("Array: ", num_array, sep = "\n", end = "\n\n")

print("Data Type: ", num_array.dtype) #Data type of array
print("Dimensions: ", num_array.ndim) # Number of dimensions
print("Data shape: ", num_array.shape) # 3 by 3

Array:
[[1 2 3]
 [1 2 3]
 [1 2 3]]

Data Type:  int32
Dimensions:  2
Data shape:  (3, 3)

In [206]:
# Indexing, subsetting and slicing
num_array = np.arange(2,19,2).reshape(3,3) # (19-2)+1= (18/2) = 9 elements are arranged into 3 columns and 3 rows
print(num_array, end= "\n\n")

print("0th row: ", num_array[0])
print("0th index/1st element in the 0th row: ", num_array[0][0])
#OR
print("0th index/1st element in the 0th row: ", num_array[0,0])
print("First 2 elements in the 0th row: ", num_array[0, :2])
print("Reverse of the 0th row: ", num_array[0, ::-1])

[[ 2  4  6]
 [ 8 10 12]
 [14 16 18]]

1st row:  [2 4 6]
0th index/1st element in the 1st row:  2
0th index/1st element in the 1st row:  2
First 2 elements in the 1st row:  [2 4]
Reverse of the 1st row:  [6 4 2]

# Testing the execution speed

In [207]:
import time

In [209]:
list_1 = [i for i in range (200000)]
list_2 = [j**2 for j in range(200000) ]

starting_time = time.time()
list_mul = list(map(lambda x, y: x*y, list_1, list_2))
end_time = time.time()

print("Time taken: ", end_time - starting_time)

Time taken:  0.11348748207092285

In [213]:
# Lets now use an np array
array_1 = np.array( [i for i in range (200000)])
array_2 = np.array( [j**2 for j in range (200000)])

starting_time = time.time()
list_mul = array_1*array_2
end_time = time.time()

print("Time taken: ", end_time - starting_time)

# Therefore, Numpy array execution time is faster than a list execution time

Time taken:  0.0004284381866455078